<!DOCTYPE html>
<html lang="en">
<head>
  
    <title>@ViewData["Title"] - PsychologyProject.Web</title>
  
</head>
<body>
        @await Html.PartialAsync("_Header")

    <div >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
        @await Html.PartialAsync("_Footer")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
